@import './fonts';
@import './variables';
@import './mixins';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    padding-top: 100px;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 7px;
    background-color: #bfbfbf;
    &:hover{
        background-color: #0a0a2e5e;
    }
}
::-webkit-scrollbar-thumb{
    border-radius: 7px;
    background-color: $hero-color;
    &:hover{
        background-color: #454545;
    }
}
.container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
@include for-large-mobile(){
    .container{
        padding: 0 10px;
    }
}
main{
    padding-bottom: 60px;
}
a{text-decoration: none;}
button{
    cursor: pointer;
    transition: all 0.3s ease-out;
}
input{
    outline: none;
}

@import './components/header';
@import './components/footer';

@import './pages/home';
@import './pages/service';
@import './pages/company';
@import './pages/career';
@import './pages/career-inner';
@import './pages/blog';
@import './pages/blog-inner';
@import './pages/team';
@import './pages/contact';
@import './pages/privacy';

@import './components/buttons';
@import './components/media';
@import './components/dark';