// CAREER-INNER PAHE
.career_inner{
    .developer{
        height: 500px;
        input{
            border: none;
        }
            .content-dev{
                width: 80%;
                height: 70%;
                display: flex;
                margin: auto auto;
                .left-dev{
                width: 55%;
                height: 100%;
                padding-left: 30px;
                text-align: left;
                .text-dev1{
                    color: var(--Black, #232536);
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px; /* 142.857% */
                    letter-spacing: 3px;
                    text-transform: uppercase;
                }
                .text-dev3{
                    max-width: 430px;
                    color: var(--Black, #232536);
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px; /* 142.857% */
                }
                .text-dev2{
                    color: var(--Black, #232536);
                    margin: 25px 0px ;
                    font-size: 48px;
                    font-weight: 600;
                    line-height: 58px; /* 120.833% */
                }
                .btn-1-dev{
                    margin-top: 50px;
                    width: 160px;
                    height: 60px;
                    border: 1px solid #444CFC;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 4px;
                    background: transparent;

                    a{
                        color: #000;
                        font-size: 18px;
                    }
                }
                .btn-1-dev:hover{
                    background: linear-gradient(180deg, #444CFC 0%, #444CFC 100%);
                    cursor: pointer;
                    a{
                        color: #fff;
                    }
                }
            }
                .right-dev{
                width: 45%;
                height: 100%;
                background: #FFE0C7;
                padding: 50px 0px 0px 80px;
                .text1-right{
                    color: var(--Black, #232536);
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 36px; /* 150% */
                }
                .text2-right{
                    color: #000;
                    display: flex;
                    align-items: center;
                    margin-top: 2rem;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px; /* 150% */
                }
                svg{
                    position: relative;
                    left: 333px;
                    bottom: 254px;
                }
            }
            }
    }

    .details-inner{
        padding: 60px 0;        
        background: #ECF8F9;    
        height: 750px;
        .top-det{
            max-width: 100%;
            height: 100px;
            border-bottom: 1px  solid #cfcdcd;
            display: flex;
            justify-content: center;
            align-items: center;
            ul{
                list-style: none;

                li{
                    a{
                    margin-left: 100px;
                    color: #000;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 36px; /* 150% */
                    }
                    a:hover{
                        color: #454DFD;
                        transition: 0.3s;
                    }
                }
            }
        }
        .bottom-det{
            max-width: 100%;
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            ul{
                padding-top: 80px;
                li{
                    padding-bottom: 14px;
                    p{
                        max-width: 700px;
                        color: #000;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px; /* 150% */
                    }
                }
            }
        }
    }

    .apply{
        height: 800px;
        padding-left: 15px;
        .text1-app{
            color: #232536;
            font-size: 36px;
            font-weight: 600;
            line-height: 54px; /* 150% */
        }
        .first-inp{
            border: none;
            width: 600px;
            height: 95px;
            flex-shrink: 0;
            margin: 18px 0px 0px 0px;
            flex-wrap: wrap;
            padding: 0px 0px 0px 50px;
            color: #232536;
            font-size: 18px;
            font-weight: 500;
            line-height: 28px; /* 155.556% */
            background: #D2DAED2B;
        }
        textarea{
            resize: none;
            width: 1220px;
            height: 250px;
            padding: 24px;
            font-size: 18px;  
            background: #D2DAED2B;
            border: 0px solid;
            margin-top: 50px;
        }
        .text2-app{
            color: #000;
            width: 850px;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px; 
            padding: 40px 0px 25px 0px;
        }
        .btn2-app{
            width: 220px;
            height: 70px;
            border: 1px solid #444CFC;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            background: transparent;
            a{
                font-size: 18px;
                color: #000;
            }
        }
        .btn2-app:hover{
            background: linear-gradient(180deg, #444CFC 0%, #444CFC 100%);
            a{
                color: #fff;
            }
        }
    }   
}



@media only screen and (max-width: 1100px){

    .career_inner{
        overflow: hidden;
        .developer{
            
            height: 700px;
            .content-dev{
                display: block; 
                padding-left: 100px;
                justify-content: center;
                align-items: center;
                .left-dev{
                    width: 500px;
                    display: block;
                    justify-content: center;
                    align-items: center;
                    .text-dev1{
                        text-align: center;
                    }
                    .text-dev2{
                        text-align: center;
                    }
                    .text-dev3{
                        text-align: center;
                    }
                    .btn-1-dev{
                        margin: 30px  auto;

                    }
                }
                .right-dev{
                    
                    margin: 0 100px;
                    svg{
                        transform: translateX(-125px) translateY(-24px);
                    }
                }
            }
        }
    }
    
}

@media only screen and (max-width: 1000px){

    .career_inner{
        overflow: hidden;
        .developer{
            
            height: 700px;
            .content-dev{
                display: block; 
                padding-left: 100px;
                justify-content: center;
                align-items: center;
                .left-dev{
                    width: 500px;
                    display: block;
                    justify-content: center;
                    align-items: center;
                    .text-dev1{
                        text-align: center;
                    }
                    .text-dev2{
                        text-align: center;
                    }
                    .text-dev3{
                        text-align: center;
                    }
                    .btn-1-dev{
                        margin: 30px  auto;

                    }
                }
                .right-dev{
                    
                    margin: 0 100px;
                    svg{
                        transform: translateX(-160px) translateY(-24px);
                    }
                }
            }
        }
    }
    
}

@media only screen and (max-width: 800px){
    .career_inner{
        .developer{
            margin: 0 350px 0 0;
            height: 720px;
            .content-dev{
                .right-dev{
                    margin: 0 0 0 110px;
                    width: 300px;

                }
            }
        }
        .apply{
            height: 1000px;
            .text1-app{
                text-align: center;
            }
            .first-inp{
                margin-left: 60px;
            }
            textarea{
                width: 730px;
            }
            .text2-app{
                text-align: center;
                width: 700px;
            }
            .btn2-app{
                margin: 0 auto;
            }
        }
    }
}
@media only screen and (max-width: 700px){
    .career_inner{
        .developer{
            .content-dev{
                position: relative;
                right: 50px;
            }
        }
        .apply{
            height: 1050px;
            .container{
                .first-inp{
                    position: relative;
                    right: 30px;
                }
                textarea{
                    width: 650px;
                }
                .text2-app{
                    text-align: center;
                    margin-left: 20px;
                    width: 600px;
                }
            }
        }
    }
}
@media only screen and (max-width: 430px){
    .career_inner{
        .developer{
            height: 750px;
            .content-dev{
                .left-dev{
                    position: relative;
                    left: 40px;
                    .text-dev1{
                        position: relative;
                        right: 170px;
                    }
                    .text-dev2{
                        text-align: center;
                        width: 400px;
                        position: relative;
                        right: 130px;
                    }
                    .text-dev3{
                        position: relative;
                        right: 105px;
                        width: 350px;
                    }
                    .btn-1-dev{
                        position: relative;
                        right: 165px;
                    }
                }
                .right-dev{
                    width: 300px;
                    position: relative;
                    right: 120px;
                }
            }
        }

        .details-inner{
            height: 700px;
            .top-det{
                ul{
                    li{
                        display: flex;
                        a{
                        font-size: 18px;
                        margin: 0 0 50px 25px;
                        }
                    }
                }
            }
        }

        .apply{
            height: 1000px;
            .container{
                .text1-app{
                    text-align: center;
                }
                .first-inp{
                    flex-wrap: wrap;
                    transform: translateX(-50px);
                    width: 400px;
                }
                textarea{
                    position: relative;
                    right: 20px;
                    width: 400px;
                    height: 200px;
                }
                .text2-app{
                    text-align: center;
                    width: 330px;
                }
                .btn2-app{
                    margin: 0 auto;
                }
            }
        }
    }
}