// PRIVACY PAGE

.privary{
  .cont {
    .bosh {
      padding-bottom: 72px;
      display: flex;
      align-items: start;
      justify-content: space-between;
    }
    .hh1 {
      color: #232536;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 58px; /* 120.833% */
    }
    .lorem {
      color: #232536;
      margin-bottom: 50px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      padding-top: 8px;
    }
  }
  .bg_lightblue{
    background-color: #ecf8f9;
    padding: 96px 220px;
    .description{
        font-size: 16px;
        line-height: 24px;
        color: #232536;
        padding: 12px 0;
    }
    h3{
        font-size: 24px;
        line-height: 36px;
        color: $hero-color;
        margin: 40px 0 16px 0;
    }
  }
  .bg-kok {
    background: #ecf8f9;
    .j {
      max-width: 841px;
      color: #232536;
      font-size: 36px;
      font-weight: 600;
      line-height: 54px; /* 150% */
      margin-bottom: 24px;
    }

    .jk {
      width: 841px;
      color: #232536;

      /* H4 Heading */
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px; /* 150% */
      padding-top: 40px;
    }
  }
  .blok {
    display: flex;
    justify-content: start;
    padding-bottom: 96px;
    .qizil {
      width: 296px;
      height: 24px;
      flex-shrink: 0;
      background: #3a41dc;
    }
    .kok {
      max-width: 183.541px;
      height: 23.963px;
      flex-shrink: 0;
      background: #ffd3af;
    }
    .sariq {
      max-width: 253.225px;
      height: 24px;
      flex-shrink: 0;
      background: #ffa155;
    }
  }
}

@include for-large-tablet{
  .privary{
    .bg_lightblue{
      padding: 60px 100px;
    }
  }
}

@include for-tablet{
  .privary{
    .bg_lightblue{
      padding: 60px 50px;
    }
  }
}

@include for-large-mobile{
  .privary{
    .bg_lightblue{
      padding: 60px 20px;
    }
  }
}